.flex{
  display: flex;
  flex-direction: row;
  justify-items: space-between;
}

.margin{
 margin: 50px 100px;
}

.container {
  margin: 50px 100px;
  height: 100vh;
  width: max-content;
}

section img{
  height: 90vh;
  padding: 0 50px;
}
